<section class="text-center height-50">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <h1>Hi, We're Stack</h1>
        <p class="lead">
          An innovative collective of like-minded folks making useful and enduring technology products
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="process-1">
          <div class="process__item">
            <h4>
              An idea becomes a budding <br />
              hobby business &mdash; 2012
            </h4>
            <img alt="Image" src="img/cowork-3.jpg" class="border--round" />
            <p>
              Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or
              just starting out, you'll be making attractive sites faster than any traditional HTML template.
            </p>
          </div>
          <div class="process__item">
            <h4>
              Succsessfully funded through <br />
              Bray Investments
            </h4>
            <img alt="Image" src="img/cowork-1.jpg" class="border--round" />
            <p>
              Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or
              just starting out, you'll be making attractive sites faster than any traditional HTML template.
            </p>
          </div>
          <div class="process__item">
            <h4>Posted Profit Q2 2015</h4>
            <img alt="Image" src="img/cowork-5.jpg" class="border--round" />
            <p>
              Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or
              just starting out, you'll be making attractive sites faster than any traditional HTML template.
            </p>
          </div>
          <div class="process__item">
            <h4>
              Growing, growing, growing&hellip; <br />
              We're recruiting!
            </h4>
            <img alt="Image" src="img/education-1.jpg" class="border--round" />
            <p>
              Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or
              just starting out, you'll be making attractive sites faster than any traditional HTML template.
            </p>
          </div>
        </div>
        <!--end process-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="cta">
          <h2>We're always looking for talent</h2>
          <p class="lead">
            Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our
            talent pool.
          </p>
          <a class="btn btn--primary type--uppercase" href="#">
            <span class="btn__text">
              See Job Openings
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
