<section class="text-center height-50">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8">
        <h1>Full-service Design &amp; Development</h1>
        <p class="lead">
          From a team of passionate creators working side-by-side with our partners to deliver engaging digital and
          physical campaigns.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="imageblock switchable feature-large bg--secondary space--sm">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="background-image-holder">
      <img alt="image" src="img/education-1.jpg" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <h2>Graphic Design</h2>
        <p class="lead">
          Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site
          to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="background-image-holder">
      <img alt="image" src="img/inner-5.jpg" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <h2>Brand Marketing</h2>
        <p class="lead">
          Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks
          away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and
          content arrangements dead simple.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="imageblock switchable feature-large bg--secondary space--sm">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="background-image-holder">
      <img alt="image" src="img/inner-6.jpg" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <h2>Digital Development</h2>
        <p class="lead">
          Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site
          to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center "></section>
