<p>referances works!</p>
<section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-6 col-lg-5 mt-0">
        <h1>
          Streamline your workflow with Stack
        </h1>
        <p class="lead">
          Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes
        </p>
        <a class="btn btn--primary type--uppercase" href="#">
          <span class="btn__text">
            Try Builder Live
          </span>
        </a>
        <span class="block type--fine-print"
          >or
          <a href="index.html">view the demos</a>
        </span>
      </div>
      <div class="col-md-6">
        <img alt="Image" src="./assets/img/avatar-large-3.png" />
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
