<div class="main-container">
  <section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-6 col-lg-5 mt-0">
          <h1>
            Streamline your workflow with Stack
          </h1>
          <p class="lead">
            Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes
          </p>
          <a class="btn btn--primary type--uppercase" href="#">
            <span class="btn__text">
              Try Builder Live
            </span>
          </a>
          <span class="block type--fine-print"
            >or
            <a href="index.html">view the demos</a>
          </span>
        </div>
        <div class="col-md-6">
          <img alt="Image" src="./assets/img/avatar-large-3.png" />
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="feature feature-5 boxed boxed--lg boxed--border">
            <i class="icon icon-Pantone icon--lg"></i>
            <div class="feature__body">
              <h5>Highly Customizable</h5>
              <p>
                Stack's visual style is simple yet distinct. Perfect for your next project whether it be a basic
                marketing site, or multi-page company presence.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature feature-5 boxed boxed--lg boxed--border">
            <i class="icon icon-Fingerprint icon--lg"></i>
            <div class="feature__body">
              <h5>Built For Startups</h5>
              <p>
                Launching an attractive website quickly and affordably is important for modern startups &mdash; Stack
                offers massive value with high-end styling.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
            <span class="label">Free</span>
            <i class="icon icon-Duplicate-Window icon--lg"></i>
            <div class="feature__body">
              <h5>Page Builder Included</h5>
              <p>
                Construct mockups or production-ready pages in-browser with Variant Page Builder &mdash; Included FREE
                with every license purchase.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature feature-5 boxed boxed--lg boxed--border">
            <i class="icon icon-Life-Safer icon--lg"></i>
            <div class="feature__body">
              <h5>Friendly Support</h5>
              <p>
                You'll love the comfort that comes with six-months free support. Our dedicated support forum makes
                support hassle-free and efficient.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="feature-large feature-large-2 bg--secondary">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-4 col-lg-3">
          <h3>Experience quality</h3>
          <p class="lead">
            Stack is built with customization and ease-of-use at its core &mdash; whether you're a seasoned developer or
            just starting out, you'll be making attractive sites faster than any traditional HTML template.
          </p>
        </div>
        <div class="col-md-4 col-lg-4">
          <img alt="Image" class="border--round box-shadow-wide" src="./assets/img/landing-7.jpg" />
        </div>
        <div class="col-md-4 col-lg-2">
          <hr class="short" />
          <p>
            Each purchase of Stack includes six months of free support, including access to our dedicated support forum.
            In addition to support you'll recieve lifetime updates, including new content and bug-fixes.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="cover height-80 imagebg text-center" data-overlay="6">
    <div class="background-image-holder">
      <img alt="background" src="./assets/img/education-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-md-6">
          <span class="h1">Customers love Stack's robust and modern design</span>
          <p class="lead">
            Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks
            away.
          </p>
          <div class="modal-instance block">
            <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
            <span> <strong>See Stack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
            <div class="modal-container">
              <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                <iframe
                  data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1"
                  allowfullscreen="allowfullscreen"
                ></iframe>
              </div>
              <!--end of modal-content-->
            </div>
            <!--end of modal-container-->
          </div>
          <!--end of modal instance-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>A trusted partner to the best</h2>
          <p class="lead">
            Working with the industries best and brightest minds to deliver outstanding results
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline list-inline--images">
            <li>
              <img alt="Image" src="./assets/img/partner-1.png" />
            </li>
            <li>
              <img alt="Image" src="./assets/img/partner-5.png" />
            </li>
            <li>
              <img alt="Image" src="./assets/img/partner-7.png" />
            </li>
            <li>
              <img alt="Image" src="./assets/img/partner-4.png" />
            </li>
            <li>
              <img alt="Image" src="./assets/img/partner-6.png" />
            </li>
          </ul>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class=" ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider slider--inline-arrows" data-arrows="true">
            <ul class="slides">
              <li>
                <div class="testimonial row justify-content-center">
                  <div class="col-lg-2 col-md-4 col-6 text-center">
                    <img class="testimonial__image" alt="Image" src="./assets/img/avatar-round-1.png" />
                  </div>
                  <div class="col-lg-7 col-md-8 col-12">
                    <span class="h3"
                      >&ldquo;We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re
                      hugely impressed by the style and value.&rdquo;
                    </span>
                    <h5>Maguerite Holland</h5>
                    <span>Interface Designer &mdash; Yoke</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="testimonial row justify-content-center">
                  <div class="col-lg-2 col-md-4 col-6 text-center">
                    <img class="testimonial__image" alt="Image" src="./assets/img/avatar-round-4.png" />
                  </div>
                  <div class="col-lg-7 col-md-8 col-12">
                    <span class="h3"
                      >&ldquo;I've been using Medium Rare's templates for a couple of years now and Stack is without a
                      doubt their best work yet. It's fast, performant and absolutely stunning.&rdquo;
                    </span>
                    <h5>Lucas Nguyen</h5>
                    <span>Freelance Designer</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="testimonial row justify-content-center">
                  <div class="col-lg-2 col-md-4 col-6 text-center">
                    <img class="testimonial__image" alt="Image" src="./assets/img/avatar-round-3.png" />
                  </div>
                  <div class="col-lg-7 col-md-8 col-12">
                    <span class="h3"
                      >&ldquo;Variant has been a massive plus for my workflow &mdash; I can now get live mockups out in
                      a matter of hours, my clients really love it.&rdquo;
                    </span>
                    <h5>Rob Vasquez</h5>
                    <span>Interface Designer &mdash; Yoke</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <div class="cta">
            <h2>Purchase Stack now and get lifetime free content updates</h2>
            <p class="lead">
              Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and
              bug-fix updates.
            </p>
            <a class="btn btn--primary type--uppercase" href="#">
              <span class="btn__text">
                Purchase on Envato
              </span>
              <span class="label">$18 USD</span>
            </a>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</div>
